<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="{{ bgColor }}">
    <ion-row>
      <ion-col>
        <ion-img
          (click)="checkHouse()"
          class="sorting_hat"
          src="{{ imageSrc }}"
          disabled
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="bgSecondary">
      <ion-col>
        <ion-text *ngIf="!this.clicked">
          <h1>{{ text }}</h1>
        </ion-text>
        <ion-text *ngIf="this.clicked">
          <h2>{{ result }}!</h2>
          <p>Parabéns, {{ username }}. {{ description }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
