* {
  font-family: "IBM Plex Mono", monospace;
  transition: 0.5s;
}
ion-text {
  h1,
  p {
    width: 75%;
    margin: 25px auto;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}
.witch_hat {
  width: 75%;
  margin: 40px auto 0;
}
