* {
  font-family: "IBM Plex Mono", monospace;
}
ion-item {
  ion-label {
    text-align: center;
  }
}
ion-slides {
  height: 100%;
  --bullet-background-active: #eb445a;
}
ion-slide {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 15px;
  }
  p {
    width: 80%;
    font-size: 12px;
  }
}

ion-img {
  width: 260px;
  object-fit: cover;
}
.info-hat {
  width: 50%;
  margin: 40px 0;
}
ion-toggle {
  position: absolute;
  top: 25px;
  right: 20px;
}
