* {
  font-family: "IBM Plex Mono", monospace;
}
ion-item {
  ion-label {
    text-align: center;
  }
}
ion-slides {
  height: 100%;
}
ion-slide {
  display: flex;
  flex-direction: column;
}
ion-slide p {
  width: 80%;
  font-size: 15px;
}
ion-img {
  object-fit: cover;
}
.info-hat {
  width: 50%;
  margin: 40px 0;
}
